<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <title>$tabTitle$</title>
</head>
<body>
  <nav>
    <div>
      <a href="/">
        <img id=logo src="/assets/images/NodePortfolio3.png" alt="NodePorfolio">
      </a>
    </div>
    <div id="navlinks">
      <a href="/">Home</a>
      <a href="/introduction">Introduction</a>
      <a href="/firstServer">First Server</a>
      <a href="/servingHtmlFiles">Serving Html</a>
      <a href="/time">Time</a>
      <a href="/exportImport">Export/Import</a>
      <a href="/ssr">SSR</a>
      <a href="/router">Routing</a>
    </div>
  </nav>
  <main></main>